$dark: #222;
$blue: #679cdf;
$pink: #ed64a6;
$purple: #9f7aea;
$green: #48bb78;
$gold: #FFDF5D;
$light: #ffffff;
$lightgray: #f7f7f7;
$spaceMonoFamily: 'Space Mono', monospace;
$monsterratFamily: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
