@import '~/assets/scss/_variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bg-color: #{$dark};
  --font-color: white;
  --blue: #{$blue};
  --accent-color: #{$blue};
}

:root.light-mode {
  --bg-color: #{$light};
  --font-color: black;
}

html {
  font-family: $monsterratFamily;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: var(--accent-color);
}

body {
  color: var(--font-color);
  background-color: var(--bg-color);
}

b {
  font-weight: 600;
}

a {
  font-weight: 600;
  color: var(--accent-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: all .2s ease-in-out;
  cursor: pointer;

  &:hover, &.nuxt-link-active {
    border-color: var(--accent-color);
  }
}

p {
  font-size: 28px;
  line-height: 1.3em;
}

// Page Transition: Scale
.page-enter, .page-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

.page-enter-active, .page-leave-active {
  transition: transform 0.2s, opacity 0.2s;
}